$color-primary: "#3b81f6";
$color-success: "#339900";
$color-warning: "#ffcc00";
$color-danger: "#cc3300";

:export {
  color-primary: $color-primary;
  color-success: $color-success;
  color-warning: $color-warning;
  color-danger: $color-danger;
}