@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --navigation-width: 300px;
  --header-height: 92px
}

@media (prefers-color-scheme: dark) {
  
}

.new-task-input {
  border: none;
}
