@import "../mixins";

.container {
  margin-top: 1.25rem;
  border-radius: 9999px;
  background-color: white;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;

  @include hover-lift;
}

.icon {
  margin-right: 0.75rem;
}

.label {
  font-size: 0.875rem;     
  line-height: 1.25rem;
  font-weight: 600;
}

.enabled {
  @include button-enabled;
}

.disabled {
  @include button-disabled;
}