@import "../mixins";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.title {
  text-transform: capitalize;
  font-size: 1.875rem;     
  line-height: 2.25rem;
  font-weight: bold;
}

.menu-icon-container {
  @include only-mobile;
}

