@import "../mixins";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
}

.title {
  text-transform: capitalize;
  font-size: 1.875rem;     
  line-height: 2.25rem;
  font-weight: bold;
}

.icon {
  @include desktop-only {
    display: none;
    color: red;
  }
}

