.container {
  display: flex;
  padding: 0.5rem 1rem;
  margin-top: 1.25rem;
  margin-left: 0.875rem;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  background-color: #ffffff;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  
  :hover {
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
}