@import "../mixins";
@import "../colors";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 1.25rem;
  line-height: 1;
  border-radius: 9999px;
  cursor: pointer;
  color: white;;
  font-weight: 600;
  
  &:hover{
    color: white;
    background-color: $color-primary
  }
  
  @include transition
}

.label {
  font-size: 10px;
}